<div class="pager">
    <div class="pge_count ms-4">
        <label class="form-label d-none d-lg-block">No. of Items Per Page</label>
        <select class="form-select ms-1" id="pageSize" aria-label="Page Size">
            <option value="10" selected="selected">10</option>
            <option value="20">20</option>
            @*<option value="50">50</option>*@
        </select>
    </div>
    <div class="pages-btns text-center">
        <button type="button" id="btnPrevious" class="btn btn-success px-2">Previous</button>
        <button type="button" id="btnNext" class="btn btn-success px-2">Next</button>
    </div>
    <div class="page-result text-end me-4">
        <label id="PageRange" class="control-label"></label>
    </div>
</div>
<script>
        var $jgrid = $("#grid");
        var pagestart = 1;
        var pageend = 10;
        var totalRecords = 0;
        var gTotalRecords = 0;
        var defaultSortColumn;
        var defaultSortOrder=0;
        var JSGRID_EDIT_ROW_DATA_KEY = "JSGridEditRow";
        var JSGRID_ROW_DATA_KEY = "JSGridItem";
        var editRowClass = "jsgrid-edit-row";
        var prftxtstdate = "";
        var prftxtenddate = "";
        var ErrorPageUrl = '@Url.Action("Error", "Error")';
        var model = "";
</script>