@model FaceApp.Models.ViewModels.ForgotPasswordModel
@{
	ViewData["Title"] = "Login";
	Layout = "";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "myLoginform", autocomplete = "Disabled", role = "form" }))
{
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Forgot Password</title>


		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />

		<link rel="stylesheet" href="~/css/style-1.css" />

		<script src="~/js/jquery-3.3.1.min.js"></script>
		<script src="~/js/bootstrap.js"></script>

	</head>
	<body class="login-body">

		<div class="container ">
			<div class="login_wrapper">
				<div class="login-form">
					<div class="login-title">
						<h3>Forgot Password</h3>
					</div>
					<div>
						@Html.LabelFor(m => m.Email, new { @class = "control-label" })
						<span style="color:#e85347;"> * </span>
						@Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "inputfile" })
						@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger error" })
					</div>

					<div class="loginBtn">
						@*<a href="" class="btn btn-login"> Login </a>*@
						<a href="@Url.Action("Login", "Account")" class="btn btn-default"> Cancel </a>
						<button type="submit" class="btn btn-primary"> Submit </button>
					</div>
					
					<div class="form-control-static">
						<span> Notes : Face App will send the temporary password to the email address provided.</span>
					</div>
				</div>
			</div>
		</div>

	</body>
}