<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>    
    <aspNetCore processPath="dotnet" arguments=".\FaceApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <environmentVariables />
      </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: f676452d-6220-4ec0-a5c9-ba2890d0626b-->