@model FaceApp.Models.Face
@{
    ViewData["Title"] = "Identify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form asp-action="Identify" id="Identifyform" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="col-md-4">
                <h2>Identify a Person</h2>
            </div>            
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Camera</div>
                <div class="panel-body" style="text-align:center">
                    <div id="my_camera"></div>
                    <!-- A button for taking snaps -->
                    <video id="stream" width="320" height="240"></video>
                    <button id="btn-capture" type="submit" class="btn btn-success" style="margin-bottom:8px;"> Take Snapshot and Identify</button>
                    <button id="btn-start" type="button" class="btn" style="margin-bottom:8px;position:relative;margin-left:65px;display:none;">Start</button>
                    <button id="btn-stop" type="button" class="btn" style="margin-bottom:8px;position:relative;margin-left:65px;display:none;">Stop</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Captured Photo</div>
                <div class="panel-body" style="text-align:center">
                    <canvas id="capture" width="320" height="240"></canvas>
                    <div id="snapshot">
                        <input type="image" disabled="disabled" id="imgcap" style="width:320px;height:240px;display:none" />
                        <input type="text" id="txtimgcap" style="display:none" asp-for="CapturedFile" />
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>      
        @if (ViewBag.Result != null)
        {
            <div class="col-md-12">          
                <div class="panel panel-primary">
                    <div class="bg-success createperson" id="divResult" style="text-align:center">
                        @ViewBag.Result
                    </div>
                </div>
            </div>
        }
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/Webcam.js"></script>
<script language="javaScript">

    // The buttons to start & stop stream and to capture the image
    var btnStart = document.getElementById("btn-start");
    var btnStop = document.getElementById("btn-stop");
    var btnCapture = document.getElementById("btn-capture");

    // The stream & capture
    var stream = document.getElementById("stream");
    var capture = document.getElementById("capture");
    var snapshot = document.getElementById("snapshot");

    // The video stream
    var cameraStream = null;

    // Attach listeners
    btnStart.addEventListener("click", startStreaming);
    btnStop.addEventListener("click", stopStreaming);
    btnCapture.addEventListener("click", captureSnapshot);
    $(window).on("load", startStreaming());
    $(window).on('beforeunload', function () {
        stopStreaming();
    });

    ////imgInp.onchange = evt => {
    ////    const [file] = imgInp.files
    ////    if (file) {
    ////        imgdisp.src = URL.createObjectURL(file)
    ////    }
    ////}
    // Start Streaming
    function startStreaming() {

        var mediaSupport = 'mediaDevices' in navigator;

        if (mediaSupport && null == cameraStream) {

            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (mediaStream) {

                    cameraStream = mediaStream;

                    stream.srcObject = mediaStream;

                    stream.play();
                    btnStart.style.display = "none";
                    btnStop.style.display = "inline-block";
                })
                .catch(function (err) {
                    btnStart.style.display = "inline-block";
                    btnStop.style.display = "none";
                    console.log("Unable to access camera: " + err);
                });
        }
        else {
            btnStart.style.display = "inline-block";
            btnStop.style.display = "none";
            alert('Your browser does not support media devices.');

            return;
        }
    }

    // Stop Streaming
    function stopStreaming() {

        if (null != cameraStream) {

            var track = cameraStream.getTracks()[0];

            track.stop();
            stream.load();
            btnStart.style.display = "inline-block";
            btnStop.style.display = "none";
            cameraStream = null;
        }
    }

    function captureSnapshot() {

        if (null != cameraStream) {
            divresult=document.getElementById('divResult')
            if (divresult!= undefined) {
                divresult.innerHTML = "";
                divresult.style.display = 'none';
            }
            var ctx = capture.getContext('2d');
            var img = document.getElementById("imgcap");
            img.style.display = 'block';
            ctx.drawImage(stream, 0, 0, capture.width, capture.height);

            img.src = capture.toDataURL("image/png");
            img.width = 320;
            var txt = document.getElementById("txtimgcap")
            txt.value = img.src;
        }
    }
</script>