@{
	ViewBag.Title = "Unauthorized";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

       <!--start content-->
			<div class="row">
				
				<div class="col-12 d-flex">
					
					<div class="card radius-10 w-100">
					  <div class="card-body dboardLinks">

							<div id="UnauthorizedMsg" class="alert alert-danger" role="alert">
										Unauthorized Request!
							</div>
						</div>
					  </div>
					</div> <!-- End Card -->
					
			</div>
